header {
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: baseline;
  margin-bottom: 50px;
  font-size: 16px;
  box-shadow: 2px 2px 2px 0px hsla(0, 0%, 0%, 0.1);
}

header h1 {
  grid-row: 1;
  grid-column: 1/2;
  width: 100%;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 10%;
}

header .print-settings {
  grid-row: 1;
  grid-column: 2;
}

.print-settings {
  display: grid;
  grid-template-columns: 80px 80px 1fr;
  grid-gap: 10px;
}

header vaadin-button {
  grid-row: 1;
  grid-column: 3;
}

header vaadin-upload {
  grid-row: 2;
  grid-column: 1/4;
}

shipping-label {
  box-sizing: border-box;
  break-inside: avoid;
}

shipping-label.usa {
  vertical-align: top;
}

.labels {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px 0px hsla(0, 0%, 0%, 0.1);
  margin: 20px auto;
  width: 210mm;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-auto-rows: 37mm;
}

shipping-labels-app.usa .labels {
  width: 8.5in;
  padding: 0.5in 0.2in 0.5in 0.2in;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.2in;
  grid-auto-rows: 2in;
}

@media print {
  header {
    display: none;
  }

  .labels,
  shipping-labels-app.usa .labels {
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 100%;
    border: none;
  }
}
